@import '../bower_components/pygments/css/autumn';

.items {
  .item { }
}

.item {
  margin: 1em 0;

  h1 {
    font-size: 1.5;

    a {
      color: inherit;
      text-decoration: none;
    }
  }

  aside { font-size: smaller; }
}

.pagination { text-align: center; }

.new_item, .edit_item {
  .field {
    input, textarea, select { width: 80%; }

    textarea { height: 24em; }
  }
}
